*{
    margin: 0;
    padding: 0;
    transition: all 0.5s;

}

.container{
    display: flex;
    flex-direction: row;
    /* background: red; */
    padding-top: 10px;
    padding-bottom: 10px;
}

header{
    border-top: 6px solid rgb(255,255,255);
    position: absolute;
    width: 100%;
    z-index: 1;
}
.icons{
    margin-right: 40px;
    padding-top: 20px;
    position: absolute;
    right: 0;
}

i{
    color: white;
}

.loadList{
    background-color: rgb(219, 142, 53);
    width: 0px;
    height: 5px;
    animation-duration: 0.5s;
    animation-name: none;
    position: absolute;
    -webkit-transition: 0.5s;
}

#logo{
    width: 80px;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    list-style-type: none;
    padding-left: 70px;
}

.menu li{
    padding: 10px; 
    padding-top: 20px;

}

.menu li p{
    color: white;
}

.social{
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    justify-content: space-around;
    transition: all 0.5s;
}

.social:hover{
    opacity: 0.5;
    transform: scale(1.1);
}
