/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    *{
        background-color: pink;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    *{
        background-color: orange;
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
    *{
        background-color: beige;
    }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
    *{
        background-color: lightgreen;
    }}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    *{
        background-color: lightblue;
    }